.dots-wrapper {
  padding: 10px;
  cursor: pointer;
  text-align: center;

  &.his-open,
  &:hover {
    .dots {
      background-color: #333;

      &::before,
      &::after {
        background-color: #333;
      }
    }
  }
}
.dots {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #000000;
  border-radius: 50%;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background-color: #000000;
    border-radius: 50%;
    transform: translateY(6px);
  }
  &::before {
    transform: translateY(-10px);
  }
}

.actions {
  display: none;
  max-width: 210px;
  position: absolute;
  transform: translate(-10px, 5px);
  z-index: 1;

  &.active {
    display: block;
  }
  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &-item {
    display: flex;
    align-items: center;
    color: #222222;
    padding: 5px 0;
    cursor: pointer;

    &:hover {
      color: #f0f;
    }
    > span {
      color: inherit;
      margin-left: 4px;
    }
  }
}
