<div [ngClass]="{'form-errors': status.invalid && (status.dirty || status.touched)}">
  <label *ngIf="label" [for]="this.name">
    {{this.label}}
  </label>

  <input type="email" autocomplete="on" [id]="this.name" [placeholder]="this.placeholder" (keyup)="onKeyup($event)" />

  <span *ngIf="status.invalid && (status.dirty || status.touched)" class="form-errors-info">
    <ng-container *ngIf="status?.errors?.email">
      Digite um e-mail válido.
    </ng-container>

    <ng-container *ngIf="status?.errors?.required">
      e-mail é obrigatório!
    </ng-container>
  </span>
</div>
