.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 80px;
  padding: 8px;
  background-color: #8c61d3;
  box-sizing: border-box;

  &-logo {
    height: 64px;
  }
}
