<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
  y="0px" viewBox="0 0 384 384" style="enable-background:new 0 0 384 384;" xml:space="preserve" [attr.width]="size"
  [attr.height]="size" [style]="styledProps" [class]="classProps">
  <g>
    <g>
      <g>
        <rect [attr.fill]="color" x="213.333" y="0" width="170.667" height="128" />
        <rect [attr.fill]="color" x="0" y="0" width="170.667" height="213.333" />
        <rect [attr.fill]="color" x="0" y="256" width="170.667" height="128" />
        <rect [attr.fill]="color" x="213.333" y="170.667" width="170.667" height="213.333" />
      </g>
    </g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
</svg>
