
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" [attr.width]="size" [attr.height]="size" viewBox="0 0 40 40">

      <clipPath id="clip-path">
        <rect id="Retângulo_617" data-name="Retângulo 617" [attr.width]="size" [attr.height]="size" transform="translate(574 241)" fill="#fff" stroke="#707070" stroke-width="1"/>
      </clipPath>



    <g id="Grupo_2784" data-name="Grupo 2784" transform="translate(-570 -239)">
      <g id="Grupo_de_máscara_20" data-name="Grupo de máscara 20" transform="translate(-4 -2)" clip-path="url(#clip-path)">
        <g id="fullscreen-24px_1_" data-name="fullscreen-24px (1)" transform="translate(582 249)">
          <path id="Caminho_5883" data-name="Caminho 5883" d="M0,0H24V24H0Z" fill="none"/>
          <path id="Caminho_5884" data-name="Caminho 5884"
          d="M6,14a1,1,0,0,0-1,1v3a1,1,0,0,0,1,1H9a1,1,0,0,0,0-2H7V15A1,1,0,0,0,6,14Zm0-4A1,1,0,0,0,7,9V7H9A1,1,0,0,0,9,5H6A1,1,0,0,0,5,6V9A1,1,0,0,0,6,10Zm11,7H15a1,1,0,0,0,0,2h3a1,1,0,0,0,1-1V15a1,1,0,0,0-2,0ZM14,6a1,1,0,0,0,1,1h2V9a1,1,0,0,0,2,0V6a1,1,0,0,0-1-1H15A1,1,0,0,0,14,6Z"
          [attr.fill]="color"/>
        </g>
      </g>
      <path id="Caminho_5885" data-name="Caminho 5885" d="M-3867.048-15665.05l1.869,2.035" transform="translate(4452 15919)" fill="none" [attr.stroke]="color" stroke-linecap="round" stroke-width="2"/>
      <path id="Caminho_5886" data-name="Caminho 5886" d="M-3856.3-15665.593l-2.672,2.672" transform="translate(4452 15919)" fill="none" [attr.stroke]="color" stroke-linecap="round" stroke-width="2"/>
      <path id="Caminho_5887" data-name="Caminho 5887" d="M-3867.637-15654.7l2.527-2.247" transform="translate(4452 15919)" fill="none" [attr.stroke]="color" stroke-linecap="round" stroke-width="2"/>
      <path id="Caminho_5888" data-name="Caminho 5888" d="M-3856.83-15654.7l-2.055-2.379" transform="translate(4452 15919)" fill="none" [attr.stroke]="color" stroke-linecap="round" stroke-width="2"/>
    </g>
  </svg>


